# CronJob or Deployment
kind: Deployment
# Required when running as a Deployment
deschedulingInterval: 30m

resources:
  requests:
    cpu: 500m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 256Mi

# Specifies the replica count for Deployment
# Set leaderElection if you want to use more than 1 replica
replicas: 1

# Required when running as a Deployment
leaderElection:
  enabled: true

deschedulerPolicy:
  profiles:
    - name: ProfileName
      pluginConfig:
        - name: DefaultEvictor
          args:
            evictFailedBarePods: true
            evictLocalStoragePods: true
            evictSystemCriticalPods: true
            nodeFit: true
        - name: LowNodeUtilization
          args:
            targetThresholds:
              pods: 45
            thresholds:
              pods: 35
        - name: RemovePodsHavingTooManyRestarts
          args:
            podRestartThreshold: 10
            includingInitContainers: true
        - name: RemovePodsViolatingInterPodAntiAffinity
        - name: RemovePodsViolatingNodeAffinity
          args:
            nodeAffinityType:
              - requiredDuringSchedulingIgnoredDuringExecution
        - name: RemovePodsViolatingNodeTaints
        - name: RemovePodsViolatingTopologySpreadConstraint
          args:
            topologyBalanceNodeFit: true
            constraints:
              - DoNotSchedule
              - ScheduleAnyway
      plugins:
        balance:
          enabled:
            - LowNodeUtilization
            - RemovePodsViolatingTopologySpreadConstraint
        deschedule:
          enabled:
            - RemovePodsHavingTooManyRestarts
            - RemovePodsViolatingInterPodAntiAffinity
            - RemovePodsViolatingNodeAffinity
            - RemovePodsViolatingNodeTaints

service:
  enabled: true

serviceMonitor:
  enabled: true
