apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: grafana-admin
    template:
      data:
        password: "{{ .password }}"
        username: "{{ .username }}"
  dataFrom:
    - extract:
        key: grafana-admin
