serviceMonitor:
  ## If true, a ServiceMonitor CR is created for a prometheus operator
  ## https://github.com/coreos/prometheus-operator
  enabled: false
  path: /metrics
  #  namespace: monitoring  (defaults to use the namespace this chart is deployed to)
  labels: {}
  interval: 30s
  scheme: http
  tlsConfig: {}
  scrapeTimeout: 30s
  relabelings: []
  metricRelabelings: []
  basicAuth: {}
  targetLabels: []

route:
  main:
    enabled: true
    kind: HTTPRoute
    annotations:
      gethomepage.dev/description: Observability
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Monitoring
      gethomepage.dev/icon: grafana.png
      gethomepage.dev/name: Grafana
    hostnames:
      - grafana.costanza.cloud
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: private
        namespace: envoy-gateway-system
    matches:
      - path:
          type: PathPrefix
          value: /

ingress:
  enabled: false

resources:
  requests:
    cpu: 32m
    memory: 128Mi
  limits:
    memory: 264Mi

persistence:
  enabled: false

admin:
  existingSecret: grafana-admin
  userKey: username
  passwordKey: password

env: {}

envFromSecrets:
  - name: oidc-secret

## Pass the plugins you want installed as a list.
plugins:
  - grafana-clock-panel
  - victoriametrics-metrics-datasource
  ## You can also use other plugin download URL, as long as they are valid zip files,
  ## and specify the name of the plugin after the semicolon. Like this:
  # - https://grafana.com/api/plugins/marcusolsson-json-datasource/versions/1.3.2/download;marcusolsson-json-datasource

## Configure grafana datasources
## ref: http://docs.grafana.org/administration/provisioning/#datasources
datasources:
  datasources.yaml:
    apiVersion: 1
    deleteDatasources:
      - name: Alertmanager
        orgId: 1
      - name: Loki
        orgId: 1
      - name: Prometheus
        orgId: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://vmsingle-victoria-metrics-stack.monitoring.svc.cluster.local:8428
        isDefault: true
        jsonData:
          timeInterval: "15s"
          queryTimeout: "60s"
          httpMethod: POST
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo.tempo.svc.cluster.local:3100
        jsonData:
          httpMethod: GET
          tracesToLogsV2:
            datasourceUid: victorialogs
            spanStartTimeShift: -1h
            spanEndTimeShift: 1h
            filterByTraceID: true
            filterBySpanID: false
          tracesToMetrics:
            datasourceUid: prometheus
          serviceMap:
            datasourceUid: prometheus
          nodeGraph:
            enabled: true
      - name: VictoriaLogs
        uid: victorialogs
        type: loki
        access: proxy
        url: http://victoria-logs-victoria-logs-single-server.victoria-logs.svc.cluster.local:9428/select/logsql/query
        jsonData:
          maxLines: 1000
          derivedFields:
            - datasourceUid: tempo
              matcherRegex: "trace_id=(\\w+)"
              name: TraceID
              url: "$${__value.raw}"
## Configure grafana dashboard providers
## ref: http://docs.grafana.org/administration/provisioning/#dashboards
## `path` must be /var/lib/grafana/dashboards/<provider_name>
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: default
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

## Configure grafana dashboard to import
## NOTE: To use dashboards you must also enable/configure dashboardProviders
## ref: https://grafana.com/dashboards
## dashboards per provider, use provider name as key.
dashboards:
  default:
    cert-manager:
      # renovate: depName="Cert-manager-Kubernetes"
      gnetId: 20842
      revision: 3
      datasource: Prometheus
    longhorn:
      # renovate: depName="Longhorn"
      gnetId: 16888
      revision: 11
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    cloudnative-pg:
      # renovate: depName="CloudNativePG"
      gnetId: 20417
      revision: 4
      datasource: Prometheus
    volsync:
      # renovate: depName="VolSync Dashboard"
      gnetId: 21356
      revision: 3
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
    envoy-clusters:
      # renovate: datasource=github-releases depName=envoyproxy/gateway
      url: https://raw.githubusercontent.com/envoyproxy/gateway/main/charts/gateway-addons-helm/dashboards/envoy-clusters.json
      datasource: Prometheus
    envoy-gateway-global:
      # renovate: datasource=github-releases depName=envoyproxy/gateway
      url: https://raw.githubusercontent.com/envoyproxy/gateway/main/charts/gateway-addons-helm/dashboards/envoy-gateway-global.json
      datasource: Prometheus
    envoy-proxy-global:
      # renovate: datasource=github-releases depName=envoyproxy/gateway
      url: https://raw.githubusercontent.com/envoyproxy/gateway/main/charts/gateway-addons-helm/dashboards/envoy-proxy-global.json
      datasource: Prometheus
    envoy:
      # renovate: depName="Envoy Proxy Monitoring gRPC"
      gnetId: 23239
      revision: 1
      datasource:
        - name: DS_AFRANET_PROMETHEUS
          value: Prometheus
## Grafana's primary configuration
## NOTE: values in map will be converted to ini format
## ref: http://docs.grafana.org/installation/configuration/
grafana.ini:
  paths:
    data: /var/lib/grafana/
    logs: /var/log/grafana
    plugins: /var/lib/grafana/plugins
    provisioning: /etc/grafana/provisioning
  analytics:
    check_for_updates: false
    check_for_plugin_updates: false
    reporting_enabled: false
  server:
    domain: grafana.costanza.cloud
    root_url: https://grafana.costanza.cloud
  auth.anonymous:
    enabled: false
  auth.generic_oauth:
    allow_assign_grafana_admin: true
    api_url:  $__env{OIDC_API_URL}
    auth_url: $__env{OIDC_AUTH_URL}
    client_id: $__env{OIDC_CLIENT_ID}
    client_secret: $__env{OIDC_CLIENT_SECRET}
    enabled: true
    name: Pocket ID
    role_attribute_path: contains(groups[*], 'admins') && 'GrafanaAdmin' || 'Viewer'
    scopes: openid profile email groups
    signout_redirect_url: $__env{OIDC_SIGNOUT_URL}
    token_url: $__env{OIDC_TOKEN_URL}
    use_pkce: true
  news:
    news_feed_enabled: false

## Sidecars that collect the configmaps with specified label and stores the included files them into the respective folders
## Requires at least Grafana 5 to work and can't be used together with parameters dashboardProviders, datasources and dashboards
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: ""
    searchNamespace: ALL
    provider:
      # disableDelete to activate a import-only behaviour
      disableDelete: false
      # allow updating provisioned dashboards from the UI
      allowUiUpdates: false
      # allow Grafana to replicate dashboard structure from filesystem
      foldersFromFilesStructure: false
  datasources:
    enabled: true
    label: grafana_datasource
    labelValue: ""
    searchNamespace: ALL
    initDatasources: true
    watchMethod: "LIST"
