# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
---
controllers:
  bazarr:
    strategy: Recreate
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/bazarr
          tag: 1.5.5@sha256:0949a30fb6e6703a63aaa9775760b8af820f7871f6a9aa9207e2ea00fd855e2c
        envFrom:
          - configMapRef:
              name: common-env
              optional: true
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: &port 6767
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 1Gi

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: bazarr
    ports:
      http:
        port: *port

route:
  app:
    kind: HTTPRoute
    annotations:
      gethomepage.dev/description: Subtitle Management
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Servarr
      gethomepage.dev/icon: bazarr.png
      gethomepage.dev/name: Bazarr
    parentRefs:
      - name: private
        kind: Gateway
        namespace: envoy-gateway-system
    hostnames:
      - bazarr.costanza.cloud

persistence:
  config:
    existingClaim: bazarr-config
    globalMounts:
      - path: /config
  media:
    type: nfs
    server: nas.internal
    path: /volume1/homelab/media
    globalMounts:
      - path: /media
  cache:
    type: emptyDir
    globalMounts:
      - path: /config/cache
  log:
    type: emptyDir
    globalMounts:
      - path: /config/log
