apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: persistence
  namespace: argocd
spec:
  sourceRepos:
    - https://backube.github.io/helm-charts/
    - https://bjw-s-labs.github.io/helm-charts
    - https://charts.longhorn.io
    - https://cloudnative-pg.github.io/charts
    - https://github.com/smauermann/homelab
    - oci://ghcr.io/piraeusdatastore/helm-charts
    - https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
  destinations:
    - namespace: argocd
      server: "*"
    - namespace: cnpg-system
      server: "*"
    - namespace: dragonfly-operator-system
      server: "*"
    - namespace: garage
      server: "*"
    - namespace: kube-system
      server: "*"
    - namespace: longhorn-system
      server: "*"
    - namespace: volsync-system
      server: "*"
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
