# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
---
controllers:
  jellyfin:
    strategy: Recreate
    containers:
      app:
        image:
          repository: ghcr.io/jellyfin/jellyfin
          tag: 10.11.2@sha256:749972be6e7d440a47531ee36c9e38ea7a6271c875f42e8a52851c39862b0773
        envFrom:
          - configMapRef:
              name: common-env
              optional: true
        probes:
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 10
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: &port 8096
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 2
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 500m
            memory: 2Gi
          limits:
            memory: 24Gi
            # gpu.intel.com/i915: 1

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups:
      - 44

service:
  app:
    controller: jellyfin
    ports:
      http:
        port: *port

route:
  app:
    kind: HTTPRoute
    annotations:
      gethomepage.dev/description: Media Player
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Media
      gethomepage.dev/icon: jellyfin.png
      gethomepage.dev/name: Jellyfin
    parentRefs:
      - name: private
        kind: Gateway
        namespace: envoy-gateway-system
    hostnames:
      - jellyfin.costanza.cloud
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        timeouts:
          request: 30m
          backendRequest: 30m
        backendRefs:
          - name: jellyfin
            port: *port

persistence:
  config:
    existingClaim: jellyfin-config
    globalMounts:
      - path: /config
  media:
    type: nfs
    server: nas.internal
    path: /volume1/homelab/media
    globalMounts:
      - path: /media
  cache:
    type: emptyDir
    medium: Memory
    globalMounts:
      - path: /cache
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp
