apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-api-token
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cloudflare-api-token
    template:
      data:
        token: "{{ .token }}"
  dataFrom:
    - extract:
        key: external-dns-cloudflare-token
