apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: &app external-dns

resources:
  - namespace.yaml
  - cloudflare-token.yaml

helmCharts:
  - name: external-dns
    repo: https://kubernetes-sigs.github.io/external-dns
    version: 1.20.0
    releaseName: *app
    namespace: *app
    valuesFile: values.yaml
    includeCRDs: true 
