apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: volsync-system

resources:
  - snapshotclasses.yaml

helmCharts:
  - name: snapshot-controller
    releaseName: snapshot-controller
    repo: oci://ghcr.io/piraeusdatastore/helm-charts
    version: 5.0.2
    namespace: volsync-system
    includeCRDs: true
    valuesFile: values.yaml

