controllers:
  garage:
    containers:
      app:
        image:
          repository: dxflrs/garage
          tag: v2.1.0@sha256:4c9b34c113e61358466e83fd6e7d66e6d18657ede14b776eb78a93ee8da7cf6a
        env:
          TZ: "Europe/Berlin"
        envFrom:
          - secretRef:
              name: garage
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: [ALL]
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 5Gi

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    ports:
      s3:
        port: &port 3900
      api:
        port: 3903

route:
  app:
    hostnames:
      - s3.costanza.cloud
    parentRefs:
      - name: private
        namespace: envoy-gateway-system
    rules:
      - backendRefs:
          - name: garage
            port: *port

persistence:
  config:
    enabled: true
    type: configMap
    name: garage-config
    globalMounts:
      - path: /etc/garage.toml
        subPath: configuration.toml
  data:
    type: nfs
    server: nas.internal
    path: /volume1/homelab/garage/data
    globalMounts:
      - path: /data
  meta:
    type: nfs
    server: nas.internal
    path: /volume1/homelab/garage/meta
    globalMounts:
      - path: /meta
