# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
---
controllers:
  radarr:
    strategy: Recreate
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: 6.0.3.10276@sha256:0ebc60aa20afb0df76b52694cee846b7cf7bd96bb0157f3b68b916e77c8142a0
        envFrom:
          - configMapRef:
              name: common-env
              optional: true
        env:
          RADARR__APP__INSTANCENAME: Radarr
          RADARR__APP__THEME: dark
          RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
          RADARR__LOG__LEVEL: info
          RADARR__LOG__ANALYTICSENABLED: "False"
          RADARR__SERVER__PORT: &port 7878
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 1000m
            memory: 256Mi

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: radarr
    ports:
      http:
        port: *port

route:
  app:
    kind: HTTPRoute
    annotations:
      gethomepage.dev/description: Movie Collection Manager
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Servarr
      gethomepage.dev/icon: radarr.png
      gethomepage.dev/name: Radarr
    parentRefs:
      - name: private
        kind: Gateway
        namespace: envoy-gateway-system
    hostnames:
      - radarr.costanza.cloud

persistence:
  config:
    existingClaim: radarr-config
    globalMounts:
      - path: /config
  media:
    type: nfs
    server: nas.internal
    path: /volume1/homelab/media
    globalMounts:
      - path: /media
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp
