apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - network.yaml
  - wildcard-certificate.yaml

helmCharts:
  - name: cilium
    repo: https://helm.cilium.io/
    version: 1.18.4
    includeCRDs: true
    namespace: kube-system
    valuesFile: values.yaml
