apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn-system

resources:
  - namespace.yaml
  - storageclass.yaml
  - route.yaml

helmCharts:
  - name: longhorn
    releaseName: longhorn
    repo: https://charts.longhorn.io
    version: 1.10.1
    namespace: longhorn-system
    includeCRDs: true
    valuesFile: values.yaml
