csi:
  attacherReplicaCount: 2
  provisionerReplicaCount: 2
  resizerReplicaCount: 2
  snapshotterReplicaCount: 2

defaultSettings:
  allowCollectingLonghornUsageMetrics: false
  concurrentAutomaticEngineUpgradePerNodeLimit: "3"
  defaultDataLocality: best-effort
  defaultDataPath: "/var/mnt/storage"
  defaultReplicaCount: "2"
  nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
  replicaAutoBalance: best-effort
  storageMinimalAvailablePercentage: "10"
  storageReservedPercentageForDefaultDisk: "0"
  upgradeChecker: false

longhornUI:
  replicas: 1

ingress:
  enabled: false

metrics:
  serviceMonitor:
    enabled: true

persistence:
  defaultClass: true
  defaultClassReplicaCount: 2
  defaultDataLocality: best-effort

# this breaks argocd
preUpgradeChecker:
  jobEnabled: false
