---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tempo

resources:
  - namespace.yaml
  - route.yaml

helmCharts:
  - name: tempo
    repo: https://grafana.github.io/helm-charts
    version: 1.17.3
    releaseName: tempo
    namespace: tempo
    includeCRDs: true
    valuesFile: values.yaml
