---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tempo

resources:
  - namespace.yaml

helmCharts:
  - name: tempo
    repo: https://grafana.github.io/helm-charts
    version: 1.24.4
    releaseName: tempo
    namespace: tempo
    includeCRDs: true
    valuesFile: values.yaml
