apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-token
  namespace: cert-manager
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cloudflare-token
    template:
      type: Opaque
      data:
        token: "{{ .token }}"
  dataFrom:
    - extract:
        key: cert-manager-cloudflare-token
