apiVersion: apps/v1
kind: Deployment
metadata:
  name: unbound
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: unbound
  template:
    metadata:
      labels:
        app.kubernetes.io/name: unbound
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: unbound
          matchLabelKeys:
            - pod-template-hash
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: unbound
          image: ghcr.io/smauermann/unbound:1.24.2
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          ports:
            - name: dns-tcp
              containerPort: 53
              protocol: TCP
            - name: dns-udp
              containerPort: 53
              protocol: UDP
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 256Mi
          startupProbe:
            exec:
              command: ["dig", "+short", "@127.0.0.1", "-p", "53", "google.com"]
            failureThreshold: 3
            timeoutSeconds: 5
            initialDelaySeconds: 10
          volumeMounts:
            - name: config
              mountPath: /etc/unbound/unbound.conf
              subPath: unbound.conf
      volumes:
        - name: config
          configMap:
            name: unbound-config
