apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: arr
  namespace: argocd
spec:
  sourceRepos:
    - https://bjw-s-labs.github.io/helm-charts
    - https://github.com/smauermann/homelab
  destinations:
    - namespace: argocd
      server: "*"
    - namespace: arr
      server: "*"
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
