apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: network
  namespace: argocd
spec:
  sourceRepos:
    - https://charts.jetstack.io
    - oci://docker.io/envoyproxy
    - oci://quay.io/cilium/charts
    - https://github.com/smauermann/homelab
    - https://kubernetes-sigs.github.io/external-dns
    - https://pkgs.tailscale.com/helmcharts
  destinations:
    - namespace: argocd
      server: "*"
    - namespace: cert-manager
      server: "*"
    - namespace: cilium-secrets
      server: "*"
    - namespace: cloudflared
      server: "*"
    - namespace: dns
      server: "*"
    - namespace: external-dns
      server: "*"
    - namespace: envoy-gateway-system
      server: "*"
    - namespace: kube-system
      server: "*"
    - namespace: tailscale
      server: "*"
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
