apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - route.yaml
  - oidc-secret.yaml

helmCharts:
  - name: app-template
    repo:  https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2
    releaseName: miniflux
    namespace: miniflux
    valuesFile: values.yaml
