apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-oidc-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: argocd-oidc-secret
    template:
      metadata:
        labels:
          app.kubernetes.io/part-of: argocd
      type: Opaque
      data:
        password: "{{ .password }}"
        secret: "{{ .secret }}"
  dataFrom:
    - extract:
        key: argocd-oidc-secret
