apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: &app pocket-id

resources:
  - namespace.yaml
  - pvc.yaml

helmCharts:
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 4.4.0
    releaseName: *app
    namespace: *app
    valuesFile: values.yaml
  - name: pvc-backup
    repo: https://smauermann.github.io/helm-charts
    version: 1.0.0
    releaseName: pocket-id-backup
    namespace: *app
    valuesInline:
      appName: pocket-id
      backup:
        pvc:
          name: pocket-id-data
      restore:
        enabled: true
        enableFileDeletion: true
        pvc:
          name: pocket-id-data-restored
          size: 10Gi
