# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
---
controllers:
  main:
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
    containers:
      app:
        image:
          repository: ghcr.io/pocket-id/pocket-id
          tag: v2.1.0@sha256:f8ed26e8012ae60d5320735dcdecf7347778e2a31c69a147f5c030e017cb32d9
        env:
          ANALYTICS_DISABLED: "true"
          APP_URL: https://pid.costanza.cloud
          DB_CONNECTION_STRING: file:/app/data/pocket-id.db?_journal_mode=WAL&_busy_timeout=2500&_txlock=immediate
          TRUST_PROXY: true
          TZ: Europe/Berlin
          UPLOAD_PATH: /app/data/uploads
        envFrom:
          - secretRef:
              name: pocket-id-secrets
        probes:
          liveness: &probe
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: 1411
          readiness: *probe
        resources:
          requests:
            memory: 250M
            cpu: 10m
          limits:
            memory: 400M
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }

service:
  app:
    ports:
      http:
        port: 1411

route:
  app:
    kind: HTTPRoute
    annotations:
      gethomepage.dev/description: Passkey-based SSO
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Auth
      gethomepage.dev/icon: sh-pocket-id-dark.png
      gethomepage.dev/name: Pocket ID
    parentRefs:
      - name: private
        namespace: envoy-gateway-system
    hostnames:
      - pid.costanza.cloud

persistence:
  config:
    existingClaim: pocket-id-data
    globalMounts:
      - path: /app/data
  var:
    type: emptyDir
    sizeLimit: 1Gi
