---
apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: high-availability
spec:
  statefulSet:
    pod:
      priorityClassName: system-cluster-critical
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
---
apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: loadbalancer-cidrs
spec:
  replicas: 2
  hostnamePrefix: loadbalancer-cidrs
  subnetRouter:
    advertiseRoutes:
      - "192.168.30.0/24"
  proxyClass: high-availability
