# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
---
controllers:
  sabnzbd:
    strategy: Recreate
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/sabnzbd
          tag: 4.5.5@sha256:da57e01cdebc547852b6df85c8df8c0e4d87792742c7608c5590dc653b184e8c
        env:
          SABNZBD__HOST_WHITELIST_ENTRIES: >-
            sabnzbd,
            sabnzbd.servarr,
            sabnzbd.servarr.svc,
            sabnzbd.servarr.svc.cluster,
            sabnzbd.servarr.svc.cluster.local,
            sabnzbd.costanza.cloud
        envFrom:
          - configMapRef:
              name: common-env
              optional: true
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api?mode=version
                port: &port 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 100m
            memory: 192Mi
          limits:
            memory: 8Gi

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: sabnzbd
    ports:
      http:
        port: *port

route:
  app:
    kind: HTTPRoute
    annotations:
      gethomepage.dev/description: Usenet Downloader
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Servarr
      gethomepage.dev/icon: sabnzbd.png
      gethomepage.dev/name: SABnzbd
    parentRefs:
      - name: private
        kind: Gateway
        namespace: envoy-gateway-system
    hostnames:
      - sabnzbd.costanza.cloud

persistence:
  config:
    existingClaim: sabnzbd-config
    globalMounts:
      - path: /config
  media:
    type: nfs
    server: nas.internal
    path: /volume1/homelab/media
    globalMounts:
      - path: /media
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp
