podSecurityContext:
  fsGroup: 1000

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 80
  targetPort: 8080
  annotations: {}
  labels: {}

ingress:
  enabled: false

deployment:
  strategy: Recreate

resources:
  limits:
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 16Mi

persistence:
  enabled: true
  size: 500Mi
  mountPath: /data
  storageClassName: longhorn

serviceMonitor:
  enabled: false
  interval: 1m
  path: /metrics
  scheme: http
  scrapeTimeout: 30s

# Gatus configuration
# ref: https://github.com/TwiN/gatus#configuration
config:
  storage:
    type: sqlite
    path: /data/data.db
  ui:
    title: Status
    header: Status
  endpoints:
    - name: adguard
      group: network
      url: https://adguard.costanza.cloud
      interval: 60s
      conditions:
        - "[STATUS] == 200"
    - name: adguard DNS
      group: network
      url: "192.168.30.53" # Address of the DNS server to use
      dns:
        query-name: "google.com"
        query-type: "A"
      conditions:
        - "[DNS_RCODE] == NOERROR"
    - name: domain expiry
      group: network
      url: "https://argocd.costanza.cloud"
      interval: 6h
      conditions:
        - "[DOMAIN_EXPIRATION] > 720h"
    - name: jellyfin
      group: media
      url: https://jellyfin.costanza.cloud
      interval: 60s
      conditions:
        - "[STATUS] == 200"
    - name: sonarr
      group: media
      url: https://sonarr.costanza.cloud
      interval: 60s
      conditions:
        - "[STATUS] == 200"
    - name: radarr
      group: media
      url: https://radarr.costanza.cloud
      interval: 60s
      conditions:
        - "[STATUS] == 200"
    - name: sabnzbd
      group: media
      url: https://sabnzbd.costanza.cloud
      interval: 60s
      conditions:
        - "[STATUS] == 200"
    - name: prowlarr
      group: media
      url: https://prowlarr.costanza.cloud
      interval: 60s
      conditions:
        - "[STATUS] == 200"
    - name: argocd
      group: workloads
      url: https://argocd.costanza.cloud
      interval: 60s
      conditions:
        - "[STATUS] == 200"
    - name: authelia
      group: auth
      url: https://authelia.costanza.cloud
      interval: 60s
      conditions:
        - "[STATUS] == 200"
