# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/postgresql.cnpg.io/cluster_v1.json
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: dawarich-postgres
spec:
  instances: 2
  # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgis
  imageName: ghcr.io/cloudnative-pg/postgis:18.1-3.6.1-system-trixie
  bootstrap:
    initdb:
      database: dawarich
      owner: dawarich
      secret:
        name: postgres-user
      postInitApplicationSQL:
        - CREATE EXTENSION IF NOT EXISTS postgis
  storage:
    storageClass: longhorn
    size: 10Gi
  monitoring:
    enablePodMonitor: true
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: garage-store
