apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: authelia-postgres
spec:
  instances: 1
  bootstrap:
    initdb:
      database: authelia
      owner: authelia
      secret:
        name: postgres-user
  storage:
    storageClass: longhorn
    size: 1Gi
  monitoring:
    enablePodMonitor: true
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: garage-store
