apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: paperless-secret
    template:
      data:
        admin_password: "{{ .admin_password }}"
        admin_username: "{{ .admin_username }}"
        secret_key: "{{ .secret_key }}"
  dataFrom:
    - extract:
        key: paperless
