apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg-system

resources:
  # renovate: datasource=github-releases depName=cloudnative-pg/plugin-barman-cloud
  - https://raw.githubusercontent.com/cloudnative-pg/plugin-barman-cloud/refs/tags/v0.11.0/manifest.yaml
