apiVersion: apps/v1
kind: Deployment
metadata:
  name: adguard
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: adguard
  template:
    metadata:
      labels:
        app.kubernetes.io/name: adguard
    spec:
      initContainers:
        - name: config-init
          image: busybox:latest
          command:
            [
              "sh",
              "-c",
              "cat /config/AdGuardHome.yaml /config/users.yaml > /combined-config/AdGuardHome.yaml",
            ]
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: config-folder
              mountPath: /config
            - name: combined-config
              mountPath: /combined-config
      containers:
        - name: adguard
          image: docker.io/adguard/adguardhome:v0.107.70@sha256:33e2240c466b2bb1d4fe9d65fd86178160bf6ee8835cf7b50ab3a7c5e39571fe
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          ports:
            - name: dns-tcp
              containerPort: 53
              protocol: TCP
            - name: dns-udp
              containerPort: 53
              protocol: UDP
            - name: dhcp
              containerPort: 67
              protocol: UDP
            - name: http
              containerPort: 3000
              protocol: TCP
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 1024Mi
          startupProbe:
            exec:
              command: ["nslookup", "google.com", "127.0.0.1"]
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          volumeMounts:
            - name: combined-config
              mountPath: /opt/adguardhome/conf
            - name: work-folder
              mountPath: /opt/adguardhome/work
      volumes:
        - name: config-folder
          projected:
            sources:
              - configMap:
                  name: adguard-config
              - secret:
                  name: adguard-users
        - name: combined-config
          emptyDir: {}
        - name: work-folder
          emptyDir: {}
