# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
---
controllers:
  mealie:
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    containers:
      app:
        image:
          repository: ghcr.io/mealie-recipes/mealie
          tag: v3.6.0@sha256:0dab0e6095cee49155b94305a9c7a96c88f362b10c608755206912e97284609e
        env:
          BASE_URL: https://mealie.costanza.cloud
          API_DOCS: false
          # OIDC_AUTH_ENABLED: true
          # OIDC_SIGNUP_ENABLED: true
          # OIDC_CONFIGURATION_URL: https://auth.${DOMAIN}/.well-known/openid-configuration
          # OIDC_CLIENT_ID: mealie
          # OIDC_USER_CLAIM: preferred_username
          # OIDC_AUTO_REDIRECT: false
          # OIDC_GROUPS_CLAIM: groups
          # OIDC_ADMIN_GROUP: admins
          # OIDC_USER_GROUP: family
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        resources:
          requests:
            cpu: 100m
            memory: 400Mi
          limits:
            memory: 600Mi

service:
  app:
    controller: mealie
    ports:
      http:
        port: 9000

route:
  app:
    kind: HTTPRoute
    annotations:
      gethomepage.dev/description: Recipes
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Personal
      gethomepage.dev/icon: mealie.png
      gethomepage.dev/name: Mealie
    parentRefs:
      - name: private
        kind: Gateway
        namespace: envoy-gateway-system
    hostnames:
      - mealie.costanza.cloud

persistence:
  config:
    existingClaim: mealie-data
    globalMounts:
      - path: /app/data
  nltk:
    type: emptyDir
    globalMounts:
      - path: /nltk_data
