apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: workloads
  namespace: argocd
spec:
  sourceRepos:
    - https://1password.github.io/connect-helm-charts
    - https://argoproj.github.io/argo-helm
    - https://charts.external-secrets.io
    - https://github.com/smauermann/homelab
    - https://intel.github.io/helm-charts/
    - https://kubernetes-sigs.github.io/descheduler
    - https://kubernetes-sigs.github.io/metrics-server
    - oci://ghcr.io/actions/actions-runner-controller-charts
    - oci://registry.k8s.io/nfd/charts
  destinations:
    - namespace: arc-runners
      server: "*"
    - namespace: arc-system
      server: "*"
    - namespace: argocd
      server: "*"
    - namespace: descheduler
      server: "*"
    - namespace: external-secrets
      server: "*"
    - namespace: intel-device-plugins
      server: "*"
    - namespace: kube-system
      server: "*"
    - namespace: node-feature-discovery
      server: "*"
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
