apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

helmCharts:
  - name: victoria-metrics-k8s-stack
    repo: https://victoriametrics.github.io/helm-charts
    version: 0.59.4
    releaseName: victoria-metrics-stack
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml
  - name: prometheus-operator-crds
    repo: https://prometheus-community.github.io/helm-charts
    version: 23.0.0
    releaseName: prometheus-operator-crds
    includeCRDs: true
    namespace: monitoring
