controllers:
  garage-webui:
    containers:
      app:
        image:
          repository: khairul169/garage-webui
          tag: 1.1.0@sha256:17c793551873155065bf9a022dabcde874de808a1f26e648d4b82e168806439c
        env:
          API_BASE_URL: http://garage.garage.svc.cluster.local:3903
          S3_ENDPOINT_URL: http://garage.garage.svc.cluster.local:3900
          API_ADMIN_KEY:
            valueFrom:
              secretKeyRef:
                name: garage
                key: GARAGE_ADMIN_TOKEN
        envFrom:
          - secretRef:
              name: garage
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: [ALL]
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 128Mi
service:
  app:
    ports:
      http:
        port: 3909
route:
  app:
    annotations:
      gethomepage.dev/description: S3
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Persistence
      gethomepage.dev/icon: garage.png
      gethomepage.dev/name: Garage
    parentRefs:
      - name: private
        kind: Gateway
        namespace: envoy-gateway-system
    hostnames:
      - garage.costanza.cloud

persistence:
  config:
    enabled: true
    type: configMap
    name: garage-config
    globalMounts:
      - path: /etc/garage.toml
        subPath: configuration.toml
