apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    includeCRDs: true
    namespace: external-secrets
    releaseName: external-secrets
    version: 1.3.2
    valuesFile: values.yaml
