# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
---
controllers:
  prowlarr:
    strategy: Recreate
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/prowlarr
          tag: 2.3.1.5238@sha256:4394dff2311238bf5c31e006872122ed4e5f6bf042d33528d80acd44a09c57f7
        envFrom:
          - configMapRef:
              name: common-env
              optional: true
        env:
          PROWLARR__APP__INSTANCENAME: Prowlarr
          PROWLARR__THEME: dark
          PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
          PROWLARR__LOG__LEVEL: info
          PROWLARR__LOG__ANALYTICSENABLED: "False"
          PROWLARR__PORT: &port 9696
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 50m
            memory: 192Mi
          limits:
            cpu: 1000m
            memory: 256Mi

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: prowlarr
    ports:
      http:
        port: *port

route:
  app:
    kind: HTTPRoute
    annotations:
      gethomepage.dev/description: Indexers
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Servarr
      gethomepage.dev/icon: prowlarr.png
      gethomepage.dev/name: Prowlarr
    parentRefs:
      - name: private
        kind: Gateway
        namespace: envoy-gateway-system
    hostnames:
      - prowlarr.costanza.cloud

persistence:
  config:
    existingClaim: prowlarr-config
    globalMounts:
      - path: /config
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp
