apiVersion: batch/v1
kind: CronJob
metadata:
  name: recyclarr
spec:
  schedule: "@daily"
  timeZone: Europe/Berlin
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
          restartPolicy: OnFailure
          containers:
            - name: recyclarr
              image: ghcr.io/recyclarr/recyclarr:7.5.2@sha256:2550848d43a453f2c6adf3582f2198ac719f76670691d76de0819053103ef2fb
              imagePullPolicy: IfNotPresent
              envFrom:
                - configMapRef:
                    name: common-env
                    optional: true
                - secretRef:
                    name: arr-secrets
              args: ["sync"]
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop: ["ALL"]
              resources:
                requests:
                  cpu: 10m
                limits:
                  memory: 128Mi
              volumeMounts:
                - name: config
                  mountPath: /config
                - name: config-file
                  mountPath: /config/recyclarr.yaml
                  subPath: recyclarr.yml
                  readOnly: true
                - name: logs
                  mountPath: /config/logs
          volumes:
            - name: config
              persistentVolumeClaim:
                claimName: recyclarr-config
            - name: config-file
              configMap:
                name: recyclarr-config
            - name: logs
              emptyDir: {}
