apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: encryption-keys
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: encryption-keys
    template:
      data:
        identity_providers.oidc.hmac.key: '{{ index . "identity_providers.oidc.hmac.key" }}'
        identity_validation.reset_password.jwt.hmac.key: '{{ index . "identity_validation.reset_password.jwt.hmac.key" }}'
        session.encryption.key: '{{ index . "session.encryption.key" }}'
        storage.encryption.key: '{{ index . "storage.encryption.key" }}'
  dataFrom:
    - extract:
        key: authelia-encryption-keys
